@import 'components/_navbar';
@import 'components/_home';

body {
  font-family: Helvetica, Arial, sans-serif !important;
  margin: 0;
  background: #F2F2F2;
}

.main {
  .container {
    padding-top: 30px;
    padding-left: 42px;
    padding-right: 42px;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .info-panel {
      justify-content: space-between;
    }
  }
}
